<?xml version="1.0" ?>
<model>
    <name>Robot House</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Ruben Alves</name>
        <email>rubenanapu@hotmail.com</email>
    </author>
    <description>Gazebo Tutorial: Building Editor</description>
</model>
